@page "/contas"
@inject IContasService _contasService
@using FinanceApp.Application.Services.Interfaces

@using FinanceApp.Application.DTOs
@using FinanceApp.Domain.Enums
@using FinanceApp.Shared.Helpers
@using Microsoft.AspNetCore.Components.Forms

<h3 class="mb-4 fw-bold">Contas</h3>

<a href="/contas/create" class="btn btn-success mb-3">➕ Nova Conta</a>

@if (contas == null)
{
    <p><em>Carregando...</em></p>
}
else
{
    <table class="table table-bordered align-middle">
        <thead class="table-dark">
            <tr>
                <th>Descrição</th>
                <th>Valor</th>
                <th>Categoria</th>
                <th>Data</th>
                <th class="text-center">Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var conta in contas)
            {
                <tr>
                    <td>@conta.Descricao</td>
                    <td>@conta.Valor?.ToString("C")</td>
                    <td>@EnumHelper.GetDisplayName(conta.Categoria)</td>
                    <td>@conta.Data.ToString("dd/MM/yyyy")</td>
                    <td class="text-center">
                        <a href="/contas/edit/@conta.Id" class="btn btn-primary btn-sm">Editar</a>
                        <a href="/contas/delete/@conta.Id" class="btn btn-danger btn-sm">Excluir</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

    @code {
    private IEnumerable<ReadContaDto> contas;

    protected override async Task OnInitializedAsync()
    {
        contas = await _contasService.GetAllAsync();
    }

}